<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<table>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message.text}"> text </span></td>
        <td><span th:text="${message.author}"> Author </span></td>
        <td><span th:text="${message.createDate}"> Created Date </span></td>
    </tr>
</table>


</body>
</html>